$button_color:#19c0c2; 
@import '../../shared.scss'; 
#container__header__inner__banner h3{color:#fff;margin:10px 0 0 74px}
#container__header__inner__banner h1 {font-weight:bold;color:$button_color;text-shadow: 0px 1px 32px #666}
#custom_message .bold{margin:0 18px 17px 18px}
#custom_message .grayButton{margin-top:30px}
.item_name {height:20px;}